<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="viv1.homeautomation" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".online_offlineActivity"
            android:label="@string/title_activity_online_offline"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WebPageActivity"
            android:label="@string/title_activity_web_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DisplayResults"
            android:label="@string/title_activity_display_results"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RoomActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_room"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DeviceNameActivity"
            android:label="@string/title_activity_device_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RoomActivity2"
            android:label="@string/title_activity_room_activity2"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"  >
        </activity>
    </application>

</manifest>
